<div class="post">
  
	 <p>
   <strong>Caption:</strong>
   <%= post.caption %>
   </p>

	 <% post.images.each do |image| %>
	 <%= image_tag image.variant(resize_to_fit: [400, 400]) %>
	 <% end %>
       
   <p>
	 <%= link_to 'Show', post %>
   <%= link_to 'Edit', edit_post_path(post) %>
   <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
   </p>

</div>