<p id="notice"><%= notice %></p>

<div>
	<% @post.images.each do |image| %>
	   <%= image_tag image.variant(resize_to_fit: [400, 400]) %>
	<% end %>

	<p>
    <strong>Caption:</strong>
    <%= @post.caption %>
    </p>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>